/* MainForm.module.css */

.main {
  padding: 20px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  color: #0c0b0b;
  border-radius: 8px;
}

.formGroup {
  margin-bottom: 20px;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0c0b0b;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #1b0d0d;
  transition: 0.3s;
  pointer-events: none;
  background-color: rgb(218, 209, 209);
  padding: 0 5px;
}

input:focus + .label,
input:not(:placeholder-shown) + .label {
  top: -10px;
  left: 10px;
  font-size: 15px;
  color: #000000;
}

input:placeholder-shown + .label {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #b912b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b912b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.sr-only {
    position: absolute;
  
    width: 1px;
    height: 1px;
    padding: 0;
    color: #e9e1e1;
    overflow: hidden;
    
    white-space: nowrap;
    border: #fff2f2;
    border: 3;
  }
  
